In [3]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [4]:
np.random.seed(0)

In [5]:
iris = load_iris()
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
# LET'S EXPLORE TARGET NAMES FOR IRIS
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [33]:
# genearate random number between 0 and 1 and if random generated number is less that .75 - its train and another .25 for test
# len(df) tells the size for uniform distribution
df['is_train'] = np.random.uniform(0,1,len(df)) <= .75
df.head(25)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,False
5,5.4,3.9,1.7,0.4,setosa,True
6,4.6,3.4,1.4,0.3,setosa,True
7,5.0,3.4,1.5,0.2,setosa,False
8,4.4,2.9,1.4,0.2,setosa,True
9,4.9,3.1,1.5,0.1,setosa,True
10,5.4,3.7,1.5,0.2,setosa,True
11,4.8,3.4,1.6,0.2,setosa,True
12,4.8,3.0,1.4,0.1,setosa,True
13,4.3,3.0,1.1,0.1,setosa,True
14,5.8,4.0,1.2,0.2,setosa,True
15,5.7,4.4,1.5,0.4,setosa,True
16,5.4,3.9,1.3,0.4,setosa,True
17,5.1,3.5,1.4,0.3,setosa,False
18,5.7,3.8,1.7,0.3,setosa,False
19,5.1,3.8,1.5,0.3,setosa,True
20,5.4,3.4,1.7,0.2,setosa,True
21,5.1,3.7,1.5,0.4,setosa,False
22,4.6,3.6,1.0,0.2,setosa,True
23,5.1,3.3,1.7,0.5,setosa,True
24,4.8,3.4,1.9,0.2,setosa,True

In [36]:
#create train and test variables
train,test = df[df['is_train'] == True], df[df['is_train'] == False]

In [70]:
features = df.columns[:4]
print(features)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [56]:
#Convert species name(which is the target) ito digits
#factorize() is used to represent array in numeric form

y = pd.factorize(train['species'])[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
      dtype=int64)

In [59]:
#Creaing a random forest classifier
clf = RandomForestClassifier(n_jobs=2, random_state=0)

#Training
clf.fit(train[features], y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [60]:
#prediction for test data
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2],
      dtype=int64)

In [67]:
test['features']

KeyError: 'features'

In [73]:
predictions = iris.target_names[clf.predict(test[features])]
actual = test['species']

In [80]:
result_df = pd.DataFrame({'predictions':predictions,'actual':actual})
result_df

    predictions      actual
4        setosa      setosa
7        setosa      setosa
17       setosa      setosa
18       setosa      setosa
21       setosa      setosa
27       setosa      setosa
31       setosa      setosa
33       setosa      setosa
34       setosa      setosa
38       setosa      setosa
42       setosa      setosa
43       setosa      setosa
45       setosa      setosa
47       setosa      setosa
51   versicolor  versicolor
53   versicolor  versicolor
54   versicolor  versicolor
55   versicolor  versicolor
68   versicolor  versicolor
69   versicolor  versicolor
71   versicolor  versicolor
72   versicolor  versicolor
75   versicolor  versicolor
76   versicolor  versicolor
82   versicolor  versicolor
86   versicolor  versicolor
89   versicolor  versicolor
104   virginica   virginica
105   virginica   virginica
107   virginica   virginica
110   virginica   virginica
113   virginica   virginica
118   virginica   virginica
119  versicolor   virginica
124   virginica   virginica
128   virginica   virginica
131   virginica   virginica
138   virginica   virginica
139   virginica   virginica
140   virginica   virginica
141   virginica   virginica

In [81]:
#creating confusion matrix
# shows that there is only 1 error in the prediction
pd.crosstab(test['species'],predictions,rownames=['Actual Species'],colnames=['Prediced Species'])

Prediced Species  setosa  versicolor  virginica
Actual Species
setosa                14           0          0
versicolor             0          13          0
virginica              0           1         13